# Variables
.env*
!.env.example
.venv/

# Objects
*.o
*.ko
*.obj
*.elf

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Libraries
*.a
*.lib
*.l[ao]

# Executables
*.exe
*.out
*.test

# Coverage
*.cover*
.coverage.*
coverage.*
profile.cov

# Databases
*.db
*.sqlite*

# Archives
*.7z
*.rar
*.zip
*.gz
*.gzip
*.bzip[2]
*.xz
*.tar.*

# Logs
*.log

# Cruft
.idea/
.vscode/
.DS_Store
*.sw[op]
*.swo
TAGS
tags
*~

# Go
go.work
go.work.sum

# Python
__pycache__/
*.py[co]
*.pyd
.pytest_cache/
.ruff_cache/

# Specific
/root/usr/local/go
/root/usr/local/bin/*
/reason-roofs
